<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Systems</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.SystemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Systems</servlet-name>
		<url-pattern>/api/v1/systems/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Rock7</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.Rock7Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rock7</servlet-name>
		<url-pattern>/rock7/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Update Spots</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.UpdateSpotsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update Spots</servlet-name>
		<url-pattern>/spots/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Update Addresses</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.AddressesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update Addresses</servlet-name>
		<url-pattern>/addresses/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Update Argos</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.ArgosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update Argos</servlet-name>
		<url-pattern>/argos/*</url-pattern>
	</servlet-mapping>

 	<servlet>
		<servlet-name>Iridium Servlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.IridiumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iridium Servlet</servlet-name>
		<url-pattern>/api/v1/iridium/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Positions Servlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.PositionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Positions Servlet</servlet-name>
		<url-pattern>/positions/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogBook</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.LogbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogBook</servlet-name>
		<url-pattern>/logbook/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Update Firebase</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.UpdateFirebaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update Firebase</servlet-name>
		<url-pattern>/fbase/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CSV Positions</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.PositionsCsvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSV Positions</servlet-name>
		<url-pattern>/api/v1/csvTag/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IWG1 Positions</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.PositionsIwg1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IWG1 Positions</servlet-name>
		<url-pattern>/api/v1/iwg1/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Points of Interest Servlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.PoiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Points of Interest Servlet</servlet-name>
		<url-pattern>/poi/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Buoys Servlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.RaiaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buoys Servlet</servlet-name>
		<url-pattern>/raia/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Iridium Updates</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.IridiumUpdatesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Iridium Updates</servlet-name>
		<url-pattern>/iridiumUpdates/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>KML Servlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.MyMapsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KML Servlet</servlet-name>
		<url-pattern>/kml/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RandomPositionsServlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.RandomPositionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomPositionsServlet</servlet-name>
		<url-pattern>/addpos/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WavyPositionsServlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.raia.WavyPositions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WavyPositionsServlet</servlet-name>
		<url-pattern>/wavypos/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DataStoreServlet</servlet-name>
		<servlet-class>pt.lsts.ripples.servlets.datastore.DataStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataStoreServlet</servlet-name>
		<url-pattern>/datastore/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
